name: build-android-app-prod
on:
  workflow_call:
    inputs:
      LASTEST_VERSION_BUILD:
        description: "Lastest version build"
        required: true
        type: string
      LASTEST_VERSION_NAME:
        description: "Lastest version name"
        required: true
        type: string
    secrets:
      FIREBASE_DISTRIBUTION_ANDROID_APP_ID:
        description: "Firebase Distribution iOS App ID"
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up git and fetch all history for all branches and tags
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 18
        uses: actions/setup-java@v4
        with:
          java-version: "18"
          distribution: "corretto"
          cache: gradle
      - name: Download a required file artifact
        uses: actions/download-artifact@v4
        with:
          name: key-dist
          path: ./key-dist
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3.5"
      - name: move google services file
        run: |
          mv ./key-dist/google-services.json ./android/app/google-services.json
      - name: move required files
        run: |
          mv ./key-dist/env ./lib/.env
          mv ./key-dist/key.properties ./android/key.properties
      - name: Bundle install for iOS Gemfile
        timeout-minutes: 5
        run: |
          gem update --system
          cd ./android && bundle install
      - name: Set up Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.4"
          architecture: x64
          cache: true
      - run: flutter pub get
      - run: flutter packages pub run build_runner build --delete-conflicting-outputs
      - name: Remove v in versioning name
        id: remove-v-versioning
        run: |
          TAG=${{ inputs.LASTEST_VERSION_NAME }}
          echo "VERSION_NAME=${TAG#v}" >> $GITHUB_OUTPUT
      - name: Build and Deploy to TestFlight
        env:
          FIREBASE_DISTRIBUTION_ANDROID_APP_ID: ${{ secrets.FIREBASE_DISTRIBUTION_ANDROID_APP_ID }}
          LASTEST_VERSION_BUILD: ${{ inputs.LASTEST_VERSION_BUILD }}
          LASTEST_VERSION_NAME: ${{steps.remove-v-versioning.outputs.VERSION_NAME}}
        run: |
          cd ./android
          fastlane add_plugin firebase_app_distribution
          bundle exec fastlane prod
      - name: Free Disk Space (Cleanup)
        uses: endersonmenezes/free-disk-space@v3
        with:
          remove_tool_cache: true
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_packages: true
          remove_swap: true
          remove_folders: "./build ./android/app/build /home/runner/.pub-cache /opt/hostedtoolcache"
          rm_cmd: "rmz"
          rmz_version: "3.1.1"
